.recipes-accordion {
  display: block;
}

.recipes-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.recipes-accordion-item + .recipes-accordion-item {
  border-top: none;
}

.recipes-accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  padding: 16px;
  text-align: left;
}

.recipes-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.recipes-accordion-item-body {
  padding: 16px;
}

.recipes-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}
